.input-center {
    width: 100%;
    height: 30px;
}
.container-center-left {
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 20%
}
.chat {
    font-size: 18px;
    color: #6a4cd0;
    margin-left: 35px;
}
.underline {
    text-decoration: none;
    font-size: 10px;
}
.center-left-top {
    background-color: #ffffff;
    display:flex;
    border-radius: 30px;
    flex-direction: column;
    gap: 10px;
}
.user-email {
    display:flex;
    flex-direction: column;
    gap:28px;
}
.user-name,.password {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.forgot {
    display:flex;
    margin-left: 58%;

}
.password {
    position: relative;
    gap: 10px
}
.eyes {
    position: absolute;
    top:50%;
    right: 12%;
}
.inline {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 80%
}
.log-in {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.button-log {
    width: 80%;
    height: 44px;
    border-radius: 40px;
    background: linear-gradient(to left,#6a4cd0 20%,#965feb 80%);
    border: solid 0;
    color: #ffffff;
    font-size: 15px;
}
.center-left-bottom {
    display:flex;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 30px;
    gap: 17px;
}
.user-chat {
    display:flex;
    align-items: center;
    gap: 16px;
}
.user-plus {
    gap: 133px!important;
    justify-content: center;
    margin-top: 18px;
}

.border-bot {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px; 
    height: 35px;
}
.ruler {
    width: 100%;
    height: 2px;
    background-color: #e7e9f6;
}
.chat-center {
    display:flex;
    flex-direction: column;
    gap:20px;
}
.day {
    text-align: center;
    margin: 0;
}
.chat-user {
    display:flex;
    flex-direction: column;
    gap: 20px
}
.reply {
    display:flex;
    border: solid 0;
    border-radius: 20px 20px 20px 0;
    margin-left: 20px;
    font-size: 14px;
}
.more {
    width: 70%;
}
.reduce {
    width: 60%;
}
.user-reply {
    display:flex;
    border: solid 0;
    border-radius: 20px 20px 0px 20px;
    font-size: 14px;
    margin-right: 20px;
}
.side {
    width: 20%;
    justify-content: center
}
.chat-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:flex-end;
}
.text-chat {
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
    gap: 10px;
}
.area {
    color: #ffffff;
}
.chat-chit{
    border-radius: 30px;
    width: 70%;
    border: solid 0
}
